.wrapper {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../images/Product/bg_product_small.png");
  background-size: cover;
  background-position: center;
  padding: 72px 0px;
  height: 500px;
  width: 100%;
}
.wrapper_mini {
  position: relative;
  border-radius: 20px;
  border: 1px solid #e3e3dc;
  padding: 24px;
}
.knowledge_banner_content {
  background: rgba(255, 255, 255, 0.65);
  padding: 24px 32px;
  width: 50%;
}
.title_mini_news {
  color: #1a1c18;
  font-family: Be Vietnam Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.post {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.post .title {
  color: #1a1c18;
  font-family: Be Vietnam Pro;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.post .content {
  color: #1a1c18;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.post .date {
  color: #5d5f5a;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.section {
  padding: 32px 120px;
  width: 100%;
}
.section h1 {
  color: #306b1b;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.section p {
  color: #1a1c18;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.btn {
  margin-top: 12px;
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid #c6c7c1;
}
.navigation {
  margin-top: 12px;
  margin-bottom: 72px;
  color: #1a1c18;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
.navigation .active {
  padding: 12px 16px;
  color: #306b1b;
  border-bottom: 2px solid #306b1b;
}
.read_more {
  margin-top: 12px;
  color: #0066d4;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .section {
    padding: 16px;
  }
  .wrapper_mini {
    padding: 24px 0 0 0;
    border: none;
  }
  .knowledge_banner_content {
    width: 90%;
  }
  .section p {
    font-size: 14px;
  }
  .post .title {
    font-size: 16px;
  }
  .post .content {
    font-size: 14px;
  }
  .post .date {
    font-size: 14px;
  }
}
@media screen and (max-width: 1023px) {
  .section {
    padding: 16px;
  }
}
